body{
    background-color: #089E57;
    font-family: 'Lato';
    font-style: italic;
    font-size: 31px;
    color: #FFFFFF;
}
.título{
    position: absolute;
    width: 600px;
    height: 37px;
    left: 135px;
    top: 0px;

    font-weight: 400;
    font-size: 41px;
    line-height: 37px;

    color: #FFFFFF;
}
.subtítulo{
    position: absolute;
    width: 597px;
    height: 68px;
    left: 1200px;
    top: 0px;

    font-weight: 400;
    font-size: 41px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
}
div{
    position: absolute;
    width: 1440px;
    height: 925px;
    left: 75px;
    top: 150px;
}
footer{
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 75px;
    top: 1250px;
    font-weight: 400;

    line-height: 37px;
}